body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  color: grey;
}

/* heading */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
/* section */
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}
.color-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
}

#title {

  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* navigation bar */
.navbar {
  padding-bottom: 4rem;
}

.nav-item {
  padding: 0 0 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

/* download button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  margin: 5% 0 0 10%;
}

#features {
  padding: 7% 15%;

  position: relative;
  z-index: 1;
}
.features-title{
  font-size: 1.5rem;
}

.font-awesome {
  color: #ef8172;
  margin-bottom: 1.2rem;
}

.font-awesome:hover {
  color: #ff4c68;
}

#testimonials {

  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 15px 15px 40px;
}

.carousel-item {
  padding: 7% 15%;
}

.card-style {
  padding: 0 1rem 2rem;
}

/* pricing */
#pricing {
  padding: 100px;

}

.pricing-text {
  font-size: 3rem;
  line-height: 1.5rem;
}

.pricing-col {
  padding: 3% 2%;
}

/* call to action */
#cta {
  padding: 7% 15%;
}

.CTA-heading {
  width: 50%;
  font-weight: bold;
  margin: auto;
  line-height: 3rem;
}

.footer-download {
  margin: 3% 2%;
}
.social{
  padding: 7% 15%;
}
.social-icon{
  padding: 0 2rem;
}
.social-icon:hover{
  color: #ef8172;
}
@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }

  #title {
    text-align: center;
  }
}
